# Dados — nunca versione datasets
data/raw/*
#data/processed/* #comentamos esse código, pois vamos manter arquivos processados. os dados tratados no notebook 01 serão utilizados nos notebooks seguintes. 
!data/**/.gitkeep
!data/**/README.md

# Modelos serializados — são regeneráveis rodando os notebooks
*.pkl
*.joblib

# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Ambiente e segredos
.env
.env.*

# SO / editor
.DS_Store
Thumbs.db
.vscode/
.idea/
